{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Карта об'єктів компанії | AgroSphere
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link href="{% static 'geo_analytics/css/map_dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="d-flex justify-content-between 
                    align-items-center mb-3">
            <h2>Карта об'єктів компанії</h2>
            <a href="{% url 'field_add' %}" class="btn btn-primary">
                + Додати поле
            </a>
        </div>

        <div id="map"></div>
    </section>
{% endblock %}

{% block scripts %}    
    <script id="fields-data" type="application/json">
        [
            {% for field in fields %}
                {% if field.geom %}
                    {
                        "id": {{ field.pk }},
                        "name": "{{ field.name|escapejs }}",
                        "area": "{{ field.area_hectares }}",
                        "status": "{{ field.get_crop_status_display|escapejs }}",
                        "geom": {{ field.geom.json|safe }},
                        "editUrl": "{% url 'field_edit' field.pk %}",
                        "deleteUrl": "{% url 'field_delete' field.pk %}"
                    }{% if not forloop.last %},{% endif %}
                {% endif %}
            {% endfor %}
        ]
    </script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{% static 'geo_analytics/js/map_dashboard.js' %}"></script>
{% endblock %}